	body{
		margin: 0;
	}
	p{
		font-size: 150%;
		color: darkblue;
		font-family: calisto MT;
		text-align: justify;
		padding-left: 100px;
		padding-right: 100px;
	}
	h2.start{
		color: maroon;
		text-align: center;
		padding-top: 60px;
		font-family: Libre Bodoni;
		font-size: 220%;
	}
	.icon {
		border-radius: 10px;
		margin: 30px;
	}
	.icon:hover{
		transform: scale(1.3);
	}
	#self {
		border-radius: 20px;
		padding-top: 70px;
	}
	#self:hover{
		cursor: pointer;
	}
	a.bottom {
		color: darkgreen;
		font-family: noto serif;
		font-weight: bold;
		padding-left: 50px;
		text-decoration: none;
		font-size: 125%;
	}
	.bottom:hover{
		color: black;
	}
	marquee{
		color: purple;
		font-family: book antiqua;
		font-size: 130%;
		margin-top: 55px;
		font-weight: 900;
	}
	marquee:hover{
		color: yellow;
		background-color: purple;
	}
	header{
		text-align: center;
		color: darkgreen;
		font-family: Libre Bodoni;
	}
	h1 {
		text-align: center;
		color: darkgreen;
		font-family: Libre Bodoni;
	}
	#unique{
		text-align: center;
		color: darkgreen;
		font-family: Libre Bodoni;
	}
	nav{
		background-color: darkorange;
		overflow: hidden;
	}
	nav a{
		padding: 30px;
		padding-left: 30px;
		text-decoration: none;
		float: left;
		font-family: libre bodoni;
		text-align: center;
		color: snow;
		text-transform: uppercase;
		font-weight: 700;
		
	}
	nav a:hover{
		color: darkorange;
		background-color: whitesmoke;
	}
	.img{
		border-radius: 30px;
		opacity: 1;
		border: 2px solid black;
		margin: 10px;
	}
	.img:hover{
		opacity: 0.6;
		transform: scale(1.07);
		cursor: pointer;
	}
	li {
		padding-top: 25px;
		padding-bottom: 25px;
		list-style-type: square;
		font-size: 120%;
		font-weight: bold;
	}
	li:hover{
		background-color: #FBFF97;
	}
	h2 {
		text-align: center;
	}
	ul {
		padding-left: 40px;
		border: 3px solid black;
		height: 400px;
		width: 50%;
		overflow: scroll;
		margin: 30px;
		border-radius: 15px;
		margin-left: 300px;
		cursor: pointer;
	}
	table,thead,tbody,tr,td,th {
		border: 3px solid darkblue;
		padding: 30px;
		border-collapse: collapse;
	}
	th {
		font-family: constantia;
		font-size: 135%;
		background-color: darkorange;
	}
	td{
		text-align: center;
		color: purple;
		font-weight: 700;
		border-collapse: collapse;
		padding: 18px;
	}
	td:hover{
		background-color: #FBFF97;
		cursor: pointer;
	}
	footer {
		margin-top: 250px;
		padding-bottom: 20px;
		background-color: darkorange;
		width: 100%;
	}
	.end {
		padding: 5px;
		font-family:book antiqua;
		font-weight: 700;
	}
	.end a{
		text-decoration: none;
		color: black;
	}
